body{
    margin: 0px;
    font-family: "SoDo Sans Semibold",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar{
    padding: 25px;
    display: flex;
    justify-content: space-between;/*Creates space between different divs of same class, very useful*/
    align-items: center;
    box-shadow: 0px 5px 7px -3px rgba(115,102,102,0.38);
    -webkit-box-shadow: 0px 5px 7px -3px rgba(115,102,102,0.38);
    -moz-box-shadow: 0px 5px 7px -3px rgba(115,102,102,0.38);
}

/*Now a section for upper navigation bar. Based on text, image, or common qualities*/

.navbar-left svg{
    width: 50px;
    margin-right: 20px;
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.navbar-right div{
    font-weight: 400;
    font-size: 14px;
}

.navbar-left, .navbar-right{/*Used for both navigation bar, very useful*/
    display: flex;
    align-items: center;
}

.navbar-left > *, .navbar-right>*{
    margin: 10px;
}

/*Now a section for special and custom classes like Find a store*/

.find-a-store{
    display: flex;
    align-items: center;
    font-weight: 400;
}

#sign-in,
#join-now{
    font-weight: 400;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}

#join-now{
    color: white;
    background-color: black;
}

#join-now:hover{/*Style something when you move your mouse over it*/
    background-color: rgba(0,0,0,.7);
}

#sign-in:hover{
    background-color: rgba(0,0,0,.1);
}

.find-a-store:hover, .navbar-left div:hover{
    color: hsl(158 100% 23%);
}

/*Now a section for products and ads*/

.product{
    margin-top: 40px;
    display: flex;
}

.product img{
    max-width: 100%;
}

.product-right, .product-left{
    max-width: 50%;
    width: 50%;
}

.product-button:hover{
    background-color: rgba(0,0,0,.1)
}