/*This is a comment*/

p{
    color: rgb(0, 0, 0);
    background: white;
    font-size: large;
    font-style: italic;
}

div{
    width: 100px;
    height: 100px;
    background: green;
}

#box{
    width: 500px;
    height: 50px;
    background: aqua;
    float: right;
}

.boxes{
    width: 200px;
    height: 100px;
    background: magenta;
    margin: 10px;
    padding: 10px;
    border: 2px solid blue;
    float: left;
    position: absolute;
    top: 0px;
    left: 1620px;
}
